
<!-- sidebar -->
<ng-sidebar-container>
        <ng-sidebar [opened]="opened">
           <a class="cross" (click)="toggleSidebar()"><mat-icon>clear</mat-icon></a>
              <ul class="menu list-unstyled ml-4">
                 <li class="nav-item">
                   <a class="nav-link text-dark" (click)="toggleSidebar()" routerLink="home"><mat-icon>home</mat-icon>Home</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link text-dark" (click)="toggleSidebar()" routerLink="food"><mat-icon> local_dining</mat-icon>Food Items</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link text-dark" (click)="toggleSidebar()" routerLink="recipe"><mat-icon> local_library</mat-icon>Add Recipes</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link text-dark" (click)="toggleSidebar()" routerLink="details"><mat-icon>personal_video</mat-icon>Item Details</a>
                </li>
              </ul>
        </ng-sidebar>
        <div ng-sidebar-content> 
          <div class="main-header">
                <div class="main">
                    <div class="sidebarBtn">
                      <a class="text-decoration-none btn btn-outline-dark pt-2" (click)="toggleSidebar()"><mat-icon>reorder</mat-icon></a>
                   </div>
                    <div class="text-center head">
                          <img src="https://i.pinimg.com/originals/75/d0/ee/75d0ee878fee47aa53100d797a554eef.jpg" width="250px" height="130px" alt="logo">
                          <p class="m-0 fw-bold para">Best Indian Recipes</p>
                    </div>
                </div>
            <nav class="navbar navbar-expand-lg">  
              <div class="container-fluid">
                <a class="nav-link text-dark" routerLink="home"><mat-icon>whatshot</mat-icon>Indian Recipes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><mat-icon>reorder</mat-icon></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                              <a class="nav-link text-dark" routerLink="home"><mat-icon>home</mat-icon>Home</a>
                           </li>
                            <li class="nav-item">
                                  <a class="nav-link text-dark" routerLink="home"><mat-icon>supervised_user_circle</mat-icon>About-Us</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link text-dark" routerLink="home"><mat-icon>perm_contact_calendar</mat-icon>Contacts</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-dark" routerLink="home"><mat-icon>account_circle</mat-icon>Login</a>
                            </li>
                      </ul>
                </div>
              </div>
            </nav>
         </div>
            <router-outlet></router-outlet>
        </div>
</ng-sidebar-container>